$width: 800px;

.container {
    padding-top: 2em;
    width: $width;
    margin:  0 auto;

    section.item {
        header {

            padding: 0.5em;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            height: 5em;

            .user {
                img {
                    background-color: #00BF8F;
                    width: 5em;
                    height: 5em;
                    border-radius: 5em;
                    display: block;
                }
            }

            .title {
                padding-left: 1em;
                font-size: 2em;
            }
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;

            .post-text {
                width: 100%;
                text-align: left;
            }

            .post-video {
                width: 100%;
                height: ( 9/16 ) * $width
            }

            .post-image {
                max-width: 100%;
                margin: 0 auto;
            }

        }


        footer {

            display: flex;
            padding: 0.5em;
            justify-content: space-between;

            .meta {
                justify-content: flex-end;
                text-align: right;
            }

            ul {
                display: flex;
                padding: 0;
                list-style: none;
                width: 40%;
                justify-content: space-between;
                align-items: center;

                li {

                    &.votes {
                        color: grey;

                    }

                    a {
                        color: lightgray;
                        font-size: 1.5em;
                        transition: all 0.2s ease-in 0s;
                    }

                }
            }
        }
    }

}